In [78]:
import pandas as pd
import json

In [79]:
with open(r'C:\Data analytics\t20_worldcup_2024\match_details.json') as f:
    data = json.load(f)

df_matches = pd.DataFrame(data)
df_matches

,team1,team2,winner,margin,ground,matchDate,scorecard
0,India,South Africa,India,7 runs,Bridgetown,"Jun 29, 2024",T20I # 2729
1,England,India,India,68 runs,Providence,"Jun 27, 2024",T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,"Jun 26, 2024",T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,"Jun 24, 2024",T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,"Jun 24, 2024",T20I # 2721
5,West Indies,South Africa,South Africa,3 wickets,North Sound,"Jun 23, 2024",T20I # 2720
6,England,U.S.A.,England,10 wickets,Bridgetown,"Jun 23, 2024",T20I # 2719
7,Afghanistan,Australia,Afghanistan,21 runs,Kingstown,"Jun 22, 2024",T20I # 2717
8,Bangladesh,India,India,50 runs,North Sound,"Jun 22, 2024",T20I # 2716
9,West Indies,U.S.A.,West Indies,9 wickets,Bridgetown,"Jun 21, 2024",T20I # 2713
10,England,South Africa,South Africa,7 runs,Gros Islet,"Jun 21, 2024",T20I # 2712
11,Australia,Bangladesh,Australia,28 runs,North Sound,"Jun 20, 2024",T20I # 2711
12,Afghanistan,India,India,47 runs,Bridgetown,"Jun 20, 2024",T20I # 2710
13,West Indies,England,England,8 wickets,Gros Islet,"Jun 19, 2024",T20I # 2709
14,South Africa,U.S.A.,South Africa,18 runs,North Sound,"Jun 19, 2024",T20I # 2708
15,West Indies,Afghanistan,West Indies,104 runs,Gros Islet,"Jun 17, 2024",T20I # 2703
16,New Zealand,P.N.G.,New Zealand,7 wickets,Tarouba,"Jun 17, 2024",T20I # 2702
17,Netherlands,Sri Lanka,Sri Lanka,83 runs,Gros Islet,"Jun 16, 2024",T20I # 2699
18,Bangladesh,Nepal,Bangladesh,21 runs,Kingstown,"Jun 16, 2024",T20I # 2698
19,Ireland,Pakistan,Pakistan,3 wickets,Lauderhill,"Jun 16, 2024",T20I # 2697
20,Australia,Scotland,Australia,5 wickets,Gros Islet,"Jun 15, 2024",T20I # 2689
21,England,Namibia,England,41 runs,North Sound,"Jun 15, 2024",T20I # 2688
22,New Zealand,Uganda,New Zealand,9 wickets,Tarouba,"Jun 14, 2024",T20I # 2682
23,Nepal,South Africa,South Africa,1 run,Kingstown,"Jun 14, 2024",T20I # 2681
24,Afghanistan,P.N.G.,Afghanistan,7 wickets,Tarouba,"Jun 13, 2024",T20I # 2679
25,England,Oman,England,8 wickets,North Sound,"Jun 13, 2024",T20I # 2678
26,Bangladesh,Netherlands,Bangladesh,25 runs,Kingstown,"Jun 13, 2024",T20I # 2677
27,West Indies,New Zealand,West Indies,13 runs,Tarouba,"Jun 12, 2024",T20I # 2672
28,U.S.A.,India,India,7 wickets,New York,"Jun 12, 2024",T20I # 2671
29,Australia,Namibia,Australia,9 wickets,North Sound,"Jun 11, 2024",T20I # 2666
30,Canada,Pakistan,Pakistan,7 wickets,New York,"Jun 11, 2024",T20I # 2665
31,Bangladesh,South Africa,South Africa,4 runs,New York,"Jun 10, 2024",T20I # 2664
32,Oman,Scotland,Scotland,7 wickets,North Sound,"Jun 9, 2024",T20I # 2659
33,India,Pakistan,India,6 runs,New York,"Jun 9, 2024",T20I # 2658
34,West Indies,Uganda,West Indies,134 runs,Providence,"Jun 8, 2024",T20I # 2651
35,Australia,England,Australia,36 runs,Bridgetown,"Jun 8, 2024",T20I # 2650
36,Netherlands,South Africa,South Africa,4 wickets,New York,"Jun 8, 2024",T20I # 2649
37,Bangladesh,Sri Lanka,Bangladesh,2 wickets,Dallas,"Jun 7, 2024",T20I # 2646
38,Afghanistan,New Zealand,Afghanistan,84 runs,Providence,"Jun 7, 2024",T20I # 2645
39,Canada,Ireland,Canada,12 runs,New York,"Jun 7, 2024",T20I # 2644
40,Namibia,Scotland,Scotland,5 wickets,Bridgetown,"Jun 6, 2024",T20I # 2643
41,U.S.A.,Pakistan,tied,-,Dallas,"Jun 6, 2024",T20I # 2642
42,Australia,Oman,Australia,39 runs,Bridgetown,"Jun 5, 2024",T20I # 2641
43,P.N.G.,Uganda,Uganda,3 wickets,Providence,"Jun 5, 2024",T20I # 2640
44,India,Ireland,India,8 wickets,New York,"Jun 5, 2024",T20I # 2639
45,Nepal,Netherlands,Netherlands,6 wickets,Dallas,"Jun 4, 2024",T20I # 2638
46,England,Scotland,no result,-,Bridgetown,"Jun 4, 2024",T20I # 2637
47,Afghanistan,Uganda,Afghanistan,125 runs,Providence,"Jun 3, 2024",T20I # 2636
48,South Africa,Sri Lanka,South Africa,6 wickets,New York,"Jun 3, 2024",T20I # 2635
49,Namibia,Oman,tied,-,Bridgetown,"Jun 2, 2024",T20I # 2634
50,West Indies,P.N.G.,West Indies,5 wickets,Providence,"Jun 2, 2024",T20I # 2633
51,U.S.A.,Canada,U.S.A.,7 wickets,Dallas,"Jun 1, 2024",T20I # 2632

In [80]:
df_matches.rename({'scorecard':'match_id'},axis =1,inplace = True)

In [81]:
df_matches.head()

,team1,team2,winner,margin,ground,matchDate,match_id
0,India,South Africa,India,7 runs,Bridgetown,"Jun 29, 2024",T20I # 2729
1,England,India,India,68 runs,Providence,"Jun 27, 2024",T20I # 2724
2,Afghanistan,South Africa,South Africa,9 wickets,Tarouba,"Jun 26, 2024",T20I # 2723
3,Afghanistan,Bangladesh,Afghanistan,8 runs,Kingstown,"Jun 24, 2024",T20I # 2722
4,Australia,India,India,24 runs,Gros Islet,"Jun 24, 2024",T20I # 2721

In [82]:
df_matches.to_csv(r'C:\Data analytics\t20_worldcup_2024\match_details.csv', index = False)

In [83]:
match_ids_dict ={}
for index, row in df_matches.iterrows():
   key1 = row['team1']+' Vs '+row['team2']
   key2 = row['team2']+' Vs '+row['team1']

   match_ids_dict[key1] = row['match_id']
   match_ids_dict[key2] = row['match_id']

match_ids_dict

{'India Vs South Africa': 'T20I # 2729',
 'South Africa Vs India': 'T20I # 2729',
 'England Vs India': 'T20I # 2724',
 'India Vs England': 'T20I # 2724',
 'Afghanistan Vs South Africa': 'T20I # 2723',
 'South Africa Vs Afghanistan': 'T20I # 2723',
 'Afghanistan Vs Bangladesh': 'T20I # 2722',
 'Bangladesh Vs Afghanistan': 'T20I # 2722',
 'Australia Vs India': 'T20I # 2721',
 'India Vs Australia': 'T20I # 2721',
 'West Indies Vs South Africa': 'T20I # 2720',
 'South Africa Vs West Indies': 'T20I # 2720',
 'England Vs U.S.A.': 'T20I # 2719',
 'U.S.A. Vs England': 'T20I # 2719',
 'Afghanistan Vs Australia': 'T20I # 2717',
 'Australia Vs Afghanistan': 'T20I # 2717',
 'Bangladesh Vs India': 'T20I # 2716',
 'India Vs Bangladesh': 'T20I # 2716',
 'West Indies Vs U.S.A.': 'T20I # 2713',
 'U.S.A. Vs West Indies': 'T20I # 2713',
 'England Vs South Africa': 'T20I # 2712',
 'South Africa Vs England': 'T20I # 2712',
 'Australia Vs Bangladesh': 'T20I # 2711',
 'Bangladesh Vs Australia': 'T20I # 2711',
 'Afghanistan Vs India': 'T20I # 2710',
 'India Vs Afghanistan': 'T20I # 2710',
 'West Indies Vs England': 'T20I # 2709',
 'England Vs West Indies': 'T20I # 2709',
 'South Africa Vs U.S.A.': 'T20I # 2708',
 'U.S.A. Vs South Africa': 'T20I # 2708',
 'West Indies Vs Afghanistan': 'T20I # 2703',
 'Afghanistan Vs West Indies': 'T20I # 2703',
 'New Zealand Vs P.N.G.': 'T20I # 2702',
 'P.N.G. Vs New Zealand': 'T20I # 2702',
 'Netherlands Vs Sri Lanka': 'T20I # 2699',
 'Sri Lanka Vs Netherlands': 'T20I # 2699',
 'Bangladesh Vs Nepal': 'T20I # 2698',
 'Nepal Vs Bangladesh': 'T20I # 2698',
 'Ireland Vs Pakistan': 'T20I # 2697',
 'Pakistan Vs Ireland': 'T20I # 2697',
 'Australia Vs Scotland': 'T20I # 2689',
 'Scotland Vs Australia': 'T20I # 2689',
 'England Vs Namibia': 'T20I # 2688',
 'Namibia Vs England': 'T20I # 2688',
 'New Zealand Vs Uganda': 'T20I # 2682',
 'Uganda Vs New Zealand': 'T20I # 2682',
 'Nepal Vs South Africa': 'T20I # 2681',
 'South Africa Vs Nepal': 'T20I # 2681',
 'Afghanistan Vs P.N.G.': 'T20I # 2679',
 'P.N.G. Vs Afghanistan': 'T20I # 2679',
 'England Vs Oman': 'T20I # 2678',
 'Oman Vs England': 'T20I # 2678',
 'Bangladesh Vs Netherlands': 'T20I # 2677',
 'Netherlands Vs Bangladesh': 'T20I # 2677',
 'West Indies Vs New Zealand': 'T20I # 2672',
 'New Zealand Vs West Indies': 'T20I # 2672',
 'U.S.A. Vs India': 'T20I # 2671',
 'India Vs U.S.A.': 'T20I # 2671',
 'Australia Vs Namibia': 'T20I # 2666',
 'Namibia Vs Australia': 'T20I # 2666',
 'Canada Vs Pakistan': 'T20I # 2665',
 'Pakistan Vs Canada': 'T20I # 2665',
 'Bangladesh Vs South Africa': 'T20I # 2664',
 'South Africa Vs Bangladesh': 'T20I # 2664',
 'Oman Vs Scotland': 'T20I # 2659',
 'Scotland Vs Oman': 'T20I # 2659',
 'India Vs Pakistan': 'T20I # 2658',
 'Pakistan Vs India': 'T20I # 2658',
 'West Indies Vs Uganda': 'T20I # 2651',
 'Uganda Vs West Indies': 'T20I # 2651',
 'Australia Vs England': 'T20I # 2650',
 'England Vs Australia': 'T20I # 2650',
 'Netherlands Vs South Africa': 'T20I # 2649',
 'South Africa Vs Netherlands': 'T20I # 2649',
 'Bangladesh Vs Sri Lanka': 'T20I # 2646',
 'Sri Lanka Vs Bangladesh': 'T20I # 2646',
 'Afghanistan Vs New Zealand': 'T20I # 2645',
 'New Zealand Vs Afghanistan': 'T20I # 2645',
 'Canada Vs Ireland': 'T20I # 2644',
 'Ireland Vs Canada': 'T20I # 2644',
 'Namibia Vs Scotland': 'T20I # 2643',
 'Scotland Vs Namibia': 'T20I # 2643',
 'U.S.A. Vs Pakistan': 'T20I # 2642',
 'Pakistan Vs U.S.A.': 'T20I # 2642',
 'Australia Vs Oman': 'T20I # 2641',
 'Oman Vs Australia': 'T20I # 2641',
 'P.N.G. Vs Uganda': 'T20I # 2640',
 'Uganda Vs P.N.G.': 'T20I # 2640',
 'India Vs Ireland': 'T20I # 2639',
 'Ireland Vs India': 'T20I # 2639',
 'Nepal Vs Netherlands': 'T20I # 2638',
 'Netherlands Vs Nepal': 'T20I # 2638',
 'England Vs Scotland': 'T20I # 2637',
 'Scotland Vs England': 'T20I # 2637',
 'Afghanistan Vs Uganda': 'T20I # 2636',
 'Uganda Vs Afghanistan': 'T20I # 2636',
 'South Africa Vs Sri Lanka': 'T20I # 2635',
 'Sri Lanka Vs South Africa': 'T20I # 2635',
 'Namibia Vs Oman': 'T20I # 2634',
 'Oman Vs Namibia': 'T20I # 2634',
 'West Indies Vs P.N.G.': 'T20I # 2633',
 'P.N.G. Vs West Indies': 'T20I # 2633',
 'U.S.A. Vs Canada': 'T20I # 2632',
 'Canada Vs U.S.A.': 'T20I # 2632'}

In [84]:
with open(r'C:\Data analytics\t20_worldcup_2024\batting_summary.json') as f:
    data1 = json.load(f)

data1
df_battingsummary = pd.DataFrame(data1)
df_battingsummary

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,dismissal
0,India Vs South Africa,India,1,RohitSharma (c),9,5,2,0,180.00,c Klaasen b Maharaj
1,India Vs South Africa,India,2,ViratKohli,76,59,6,2,128.81,c Rabada b Jansen
2,India Vs South Africa,India,3,RishabhPant †,0,2,0,0,0.00,c †de Kock b Maharaj
3,India Vs South Africa,India,4,SuryakumarYadav,3,4,0,0,75.00,c Klaasen b Rabada
4,India Vs South Africa,India,5,AxarPatel,47,31,1,4,151.61,run out (†de Kock)
...,...,...,...,...,...,...,...,...,...,...
845,Canada Vs U.S.A.,U.S.A.,1,StevenTaylor,0,2,0,0,0.00,lbw b Kaleem Sana
846,Canada Vs U.S.A.,U.S.A.,2,MonankPatel (c)†,16,16,2,0,100.00,c †Movva b Heyliger
847,Canada Vs U.S.A.,U.S.A.,3,AndriesGous,65,46,7,3,141.30,c Johnson b Dutta
848,Canada Vs U.S.A.,U.S.A.,4,AaronJones,94,40,4,10,235.00,N/A
849,Canada Vs U.S.A.,U.S.A.,5,CoreyAnderson,3,5,0,0,60.00,N/A

In [85]:
df_battingsummary['out/not_out'] = df_battingsummary['dismissal'].apply(lambda s:"not_out" if s == "N/A" else "out")

In [86]:
df_battingsummary

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,dismissal,out/not_out
0,India Vs South Africa,India,1,RohitSharma (c),9,5,2,0,180.00,c Klaasen b Maharaj,out
1,India Vs South Africa,India,2,ViratKohli,76,59,6,2,128.81,c Rabada b Jansen,out
2,India Vs South Africa,India,3,RishabhPant †,0,2,0,0,0.00,c †de Kock b Maharaj,out
3,India Vs South Africa,India,4,SuryakumarYadav,3,4,0,0,75.00,c Klaasen b Rabada,out
4,India Vs South Africa,India,5,AxarPatel,47,31,1,4,151.61,run out (†de Kock),out
...,...,...,...,...,...,...,...,...,...,...,...
845,Canada Vs U.S.A.,U.S.A.,1,StevenTaylor,0,2,0,0,0.00,lbw b Kaleem Sana,out
846,Canada Vs U.S.A.,U.S.A.,2,MonankPatel (c)†,16,16,2,0,100.00,c †Movva b Heyliger,out
847,Canada Vs U.S.A.,U.S.A.,3,AndriesGous,65,46,7,3,141.30,c Johnson b Dutta,out
848,Canada Vs U.S.A.,U.S.A.,4,AaronJones,94,40,4,10,235.00,N/A,not_out
849,Canada Vs U.S.A.,U.S.A.,5,CoreyAnderson,3,5,0,0,60.00,N/A,not_out

In [87]:
df_battingsummary.drop(columns = ['dismissal'], inplace = True)

In [88]:
df_battingsummary

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,India Vs South Africa,India,1,RohitSharma (c),9,5,2,0,180.00,out
1,India Vs South Africa,India,2,ViratKohli,76,59,6,2,128.81,out
2,India Vs South Africa,India,3,RishabhPant †,0,2,0,0,0.00,out
3,India Vs South Africa,India,4,SuryakumarYadav,3,4,0,0,75.00,out
4,India Vs South Africa,India,5,AxarPatel,47,31,1,4,151.61,out
...,...,...,...,...,...,...,...,...,...,...
845,Canada Vs U.S.A.,U.S.A.,1,StevenTaylor,0,2,0,0,0.00,out
846,Canada Vs U.S.A.,U.S.A.,2,MonankPatel (c)†,16,16,2,0,100.00,out
847,Canada Vs U.S.A.,U.S.A.,3,AndriesGous,65,46,7,3,141.30,out
848,Canada Vs U.S.A.,U.S.A.,4,AaronJones,94,40,4,10,235.00,not_out
849,Canada Vs U.S.A.,U.S.A.,5,CoreyAnderson,3,5,0,0,60.00,not_out

In [89]:
df_battingsummary['batsmanName'] = df_battingsummary['batsmanName'].apply(lambda a:a.replace('†',''))

In [90]:
df_battingsummary

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out
0,India Vs South Africa,India,1,RohitSharma (c),9,5,2,0,180.00,out
1,India Vs South Africa,India,2,ViratKohli,76,59,6,2,128.81,out
2,India Vs South Africa,India,3,RishabhPant,0,2,0,0,0.00,out
3,India Vs South Africa,India,4,SuryakumarYadav,3,4,0,0,75.00,out
4,India Vs South Africa,India,5,AxarPatel,47,31,1,4,151.61,out
...,...,...,...,...,...,...,...,...,...,...
845,Canada Vs U.S.A.,U.S.A.,1,StevenTaylor,0,2,0,0,0.00,out
846,Canada Vs U.S.A.,U.S.A.,2,MonankPatel (c),16,16,2,0,100.00,out
847,Canada Vs U.S.A.,U.S.A.,3,AndriesGous,65,46,7,3,141.30,out
848,Canada Vs U.S.A.,U.S.A.,4,AaronJones,94,40,4,10,235.00,not_out
849,Canada Vs U.S.A.,U.S.A.,5,CoreyAnderson,3,5,0,0,60.00,not_out

In [91]:
df_battingsummary['match_id'] = df_battingsummary['match'].map(match_ids_dict)

In [92]:
df_battingsummary.head(20)

,match,teamInnings,battingPos,batsmanName,runs,balls,4s,6s,SR,out/not_out,match_id
0,India Vs South Africa,India,1,RohitSharma (c),9,5,2,0,180.00,out,T20I # 2729
1,India Vs South Africa,India,2,ViratKohli,76,59,6,2,128.81,out,T20I # 2729
2,India Vs South Africa,India,3,RishabhPant,0,2,0,0,0.00,out,T20I # 2729
3,India Vs South Africa,India,4,SuryakumarYadav,3,4,0,0,75.00,out,T20I # 2729
4,India Vs South Africa,India,5,AxarPatel,47,31,1,4,151.61,out,T20I # 2729
5,India Vs South Africa,India,6,ShivamDube,27,16,3,1,168.75,out,T20I # 2729
6,India Vs South Africa,India,7,HardikPandya,5,2,1,0,250.00,not_out,T20I # 2729
7,India Vs South Africa,India,8,RavindraJadeja,2,2,0,0,100.00,out,T20I # 2729
8,India Vs South Africa,South Africa,1,ReezaHendricks,4,5,1,0,80.00,out,T20I # 2729
9,India Vs South Africa,South Africa,2,QuintondeKock,39,31,4,1,125.80,out,T20I # 2729
10,India Vs South Africa,South Africa,3,AidenMarkram (c),4,5,1,0,80.00,out,T20I # 2729
11,India Vs South Africa,South Africa,4,TristanStubbs,31,21,3,1,147.61,out,T20I # 2729
12,India Vs South Africa,South Africa,5,HeinrichKlaasen,52,27,2,5,192.59,out,T20I # 2729
13,India Vs South Africa,South Africa,6,DavidMiller,21,17,1,1,123.52,out,T20I # 2729
14,India Vs South Africa,South Africa,7,MarcoJansen,2,4,0,0,50.00,out,T20I # 2729
15,India Vs South Africa,South Africa,8,KeshavMaharaj,2,7,0,0,28.57,not_out,T20I # 2729
16,India Vs South Africa,South Africa,9,KagisoRabada,4,3,1,0,133.33,out,T20I # 2729
17,India Vs South Africa,South Africa,10,AnrichNortje,1,1,0,0,100.00,not_out,T20I # 2729
18,India Vs England,India,1,RohitSharma (c),57,39,6,2,146.15,out,T20I # 2724
19,India Vs England,India,2,ViratKohli,9,9,0,1,100.00,out,T20I # 2724

In [93]:
df_battingsummary.to_csv(r'C:\Data analytics\t20_worldcup_2024\batting_summary.csv',index = False)

In [94]:
with open(r"C:\Data analytics\t20_worldcup_2024\bowling_summary.json") as f:
    data2 = json.load(f)

df_bowlingsummary = pd.DataFrame(data2)

In [95]:
df_bowlingsummary.drop(columns = 'match_id',inplace = True)

In [96]:
df_bowlingsummary['match_id'] = df_bowlingsummary['match'].map(match_ids_dict)

In [97]:
df_bowlingsummary.head()

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,match_id
0,India Vs South Africa,South Africa,MarcoJansen,4,0,49,1,12.25,4,5,2,1,1,T20I # 2729
1,India Vs South Africa,South Africa,KeshavMaharaj,3,0,23,2,7.66,10,3,1,0,0,T20I # 2729
2,India Vs South Africa,South Africa,KagisoRabada,4,0,36,1,9.00,8,2,2,2,0,T20I # 2729
3,India Vs South Africa,South Africa,AidenMarkram,2,0,16,0,8.00,1,0,1,0,0,T20I # 2729
4,India Vs South Africa,South Africa,AnrichNortje,4,0,26,2,6.50,7,2,0,2,0,T20I # 2729

In [98]:
df_bowlingsummary.to_csv(r"C:\Data analytics\t20_worldcup_2024\bowling_summary.csv",index = False)

In [99]:
with open(r"C:\Data analytics\t20_worldcup_2024\player_details.json") as f:
    data3 = json.load(f)

df_playerdetails = pd.DataFrame(data3)

In [100]:
df_playerdetails['name'] = df_playerdetails['name'].apply(lambda b:b.replace('†',''))

In [101]:
df_playerdetails = df_playerdetails.drop_duplicates()

In [102]:
df_playerdetails.head()

,name,team,battingStyle,bowlingStyle,playingRole,description,image_url
0,Rohit Sharma (c),India,Right hand Bat,Right arm Offbreak,Top order Batter,"Languid and easy on the eye, Rohit Sharma owne...","https://img1.hscicdn.com/image/upload/f_auto,t..."
1,Virat Kohli,India,Right hand Bat,Right arm Medium,Top order Batter,India has given to the world many a great cric...,"https://img1.hscicdn.com/image/upload/f_auto,t..."
2,Rishabh Pant,India,Left hand Bat,Wicketkeeper,Wicketkeeper Batter,"A match-turning, swashbuckling batter-keeper i...","https://img1.hscicdn.com/image/upload/f_auto,t..."
3,Suryakumar Yadav,India,Right hand Bat,"Right arm Medium, Right arm Offbreak",Batter,Hard-hitting 360-degree batter Suryakumar Yada...,"https://img1.hscicdn.com/image/upload/f_auto,t..."
4,Axar Patel,India,Akshar Patel,Left hand Bat,Slow Left arm Orthodox,Left-arm spinner Axar Patel has been increasin...,"https://img1.hscicdn.com/image/upload/f_auto,t..."

In [103]:
df_playerdetails.to_csv(r"C:\Data analytics\t20_worldcup_2024\player_details_no_images.csv",index = False)